body {
    border: 2px solid black;
}

header {
    text-align: center;
    border: 2px solid black;
}

header li {
    display: inline;
}

main {
    border: 2px solid black;
}

img {
    width: 300px;
}